@use "./variables" as *; /* load without namespace for convenience */
@use "./mixins" as *; /* load without namespace for convenience */
@use "./button";

// .adaptermanager {
//   // font-family: $font-mono;
// }

.adaptermanager__grid {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.adaptermanager__info {
  flex: 50%;

  .adaptermanager__name,
  .adaptermanager__desc {
    display: flex;
    flex: 100%;
  }

  .adaptermanager__desc {
    line-height: 2;
  }
}

.adaptermanager__add,
.adaptermanager__configure {
  align-self: center;
  flex: 50%;
  text-align: center;
}
.adaptermanager__remove {
  border-top: 2px solid #eaeaea;
  margin-bottom: 2rem;

  button {
    background-color: #ffcbcb;
    color: red;
    font-family: $font-mono;
  }
}

.adaptermanager__name {
  text-transform: uppercase;
}
