.footer_wrap__1La5y {
  align-items: center;
  background-color: #131313;
  color: #bbb;
  display: flex;
  min-height: 3rem;
  padding: 2rem 1.5rem;
  position: relative;
  font-size: .8rem;
}
.grid__row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.footer_item__PztHD.org-footer-item{

  margin: 0 2rem 0 0;
  color:  #6FD671;

}
.undefined.org-copyright-symbol{
  color: #bbb;
  margin-left: 1rem;
}
//  RESPONSIVE
@media only screen and (max-width: 915px) {
  .logo--medium {
    font-size: 1rem;
}
a.footer_left__6CGtF {
    flex-direction: row;
   text-align: center;
    
}
.footer_item__PztHD.org-footer-item {
  margin: 0 2rem 0 0;
  color: #6FD671;
  text-align: center;
}
}


