.footer {
  z-index: 9;
  position: relative;
  align-items: center;
  display: flex;
  background-color: #131313;
  justify-content: flex-end;
  padding: 1rem 0;

  height:5rem;
}
.grid__row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.footer_item__PztHD.org-footer-item{

  margin: 0 2rem 0 0;
  color:  #6ef4fa;

}
.undefined.org-copyright-symbol{
  color: #bbb;
  margin-left: 1rem;
}
//  RESPONSIVE
//   @media screen and (max-width: 812px) {
//     .footer {
//       align-items: center;
//       background-color: #131313;
//       color: #bbb;
//       display: flex;
//       min-height: 3rem;
//       padding: 2rem 1.5rem;
//       position: relative;
//       font-size: .8rem;
//       margin-top: 65rem;
     
//     }
//     .footer_item__PztHD.org-footer-item{
//       color: #bbb;
//       font-size: .8rem;
//     }
    
//   }
