.footer {
  z-index: 9;
  position: relative;
  align-items: center;
  display: flex;
  background-color: #131313;
  justify-content: flex-end;
  padding: 1rem 0;
  margin-top: 20rem;
  height:5rem;
}
.grid__row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.footer_item__PztHD.org-footer-item{

  margin: 0 2rem 0 0;
  color:  #6ef4fa;

}
.undefined.org-copyright-symbol{
  color: #bbb;
}
