@use "./variables" as *; /* load without namespace for convenience */
@use "./functions" as *; /* load without namespace for convenience */

.header {
  z-index: 9;
  position: relative;
  align-items: center;
  display: flex;

  a {
    text-decoration: none;
  }
}

.header__nav-container {
  flex: 70%;
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
  z-index: 2;

  @media only screen and (max-width: em($bp-lg)) {
    padding-right: 1rem;
  }
}
