@use "./variables" as *; /* load without namespace for convenience */
@use "./mixins";
@use "./fonts";
@use "./functions" as *; /* load without namespace for convenience */

@use "./logo"; /* logo styles */
@use "./header"; /* header styles */
@use "./nav"; /* nav styles */
@use "./modal"; /* modal styles */
@use "./loader"; /* loader styles */
@use "./walletconnect"; /* wallet connect styles */
@use "./button"; /* button styles */

html {
  height: 100%;
  font-size: 100%; /* 16px by default; px value overrides user's browser settings */
}

html,
body {
  color: $color-primary;
  background-color: $color-background-page;
  font-weight: normal;
  font-family: $font-body;
}

body {
  margin: 0;
}

/* color */

@each $name, $color in $colors {
  .color-#{$name} {
    color: #{$color};
  }
}

/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  font-weight: bold;
  letter-spacing: 1px;
}

/* common text */

p {
  font-size: rem(18);
}

a {
  color: $color-primary;
}

/* react mount point */

#root {
  /* sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* end sticky footer */
}

/* main */

main {
  flex: 1; /* sticky footer */
  z-index: 0; /* header nav needs to appear on top of <main> */
}

.section-wrapper {
  flex: 1 1;
  margin: 0 0.75rem 9rem;

  @media only screen and (min-width: em($bp-lg)) {
    margin: 0 3rem 9rem;
  }
}

/* page header */

.titlebar {
  display: block;
  text-align: center;
  width: 100%;
}

.titlebar__title {
  @include mixins.fluid-type(
    $bp-sm,
    $bp-xl,
    18px,
    24px
  ); /* min font-size 1.125rem, max 1.5rem */
  display: inline-block;
  letter-spacing: 2px;
  margin: 3.6rem 0;
  position: relative;
  text-align: center;

  @media only screen and (min-width: em($bp-lg)) {
    max-width: 50%;
  }
}

.titlebar__action {
  @extend %button;

  display: block;
  font-size: 1rem;
  margin: 0 auto 2rem;
  padding: 0.5rem 1rem;

  @media only screen and (min-width: em($bp-xl)) {
    position: absolute;
    right: 0;
    top: 110px;
  }
}

/* errors */

.error-message {
  color: $color-brightsalmon;
  // the text needs to wrap as the JSON erros can be long
  word-break: break-word;
}

/* effects */

.pulse {
  animation: pulse 0.9s infinite ease-in-out alternate;
}
@keyframes pulse {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.2);
  }
}
