# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional eslint cache
.eslintcache

# .env are local files with key=value pairs loaded
# as environment variables into Docker, for example.
.env
# We need the `[..]/test/.env` for tests
!src/test/.env

# types
abi-types
